@page "/AddProduct"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Services.Categories
@using EmprendeUCR_WebApplication.Data.Entities
@using System.IO
@using BlazorInputFile
@using Syncfusion.Blazor.TreeGrid;
@inject ProductService  productService
@inject NavigationManager NavigationManager
@inject Product_ServiceService Product_ServiceService
@inject CategoryService CategoryService
@inject Product_PhotosService Product_PhotosService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h2>Agregar producto</h2>
<hr />
<body>

    <div class="">
        <!--Displays the header-->
        <section class=" w-70 float_right gap-lg-2 ">

            <div class="grid2 gap-3">

                <div class=" border-1 shadow  bg-silver">
                    <div class="form-group w-70">
                        <label for="Name" class="control-label m-lg-2">Nombre</label>
                        <input form="Name" class="form-control m-lg-2" @bind="@prod.Product_Name" />
                    </div><br />
                    <div class="form-group w-70">
                        <label for="Product_Description" class="control-label m-lg-2">Descripción</label>
                        <textarea rows="3" form="Product_Description" class="form-control m-lg-2" @bind="@prod.Product_Description" />
                    </div><br />
                    <div class="form-group w-20">
                        <label for="Price" class="control-label m-lg-2">Precio(CRC)</label>
                        <input form="Price" type="number" class="form-control m-lg-2" @bind="@prod.Price" />
                    </div>
                </div>

                <EmprendeUCR_WebApplication.Pages.Product_Service.Product.ProductStatusInput />

            </div> <br /> <br />

            <!--Display the option to the user to upload the photo and assign it to the product (the 6 of them)-->
            <div class=" ">
                <div class="wrapper w-90">
                    <div class="one">
                        <EditForm Model="@photosOne">
                            <BlazorInputFile.InputFile id="addPhoto1" class="d-none" OnChange="args => HandleFileSelected(args, photosOne)" accept=".jpg,.png"></BlazorInputFile.InputFile>
                            <label class="" hidden="@isPhotoLoaded(photosOne)" for="addPhoto1">
                                <span class="d-flex align-items-center justify-content-center img-card btn btn-secondary material-icons-outlined">add_photo_alternate</span>
                            </label>
                            <img class="img-card" hidden="@(!isPhotoLoaded(photosOne))" src="@Product_PhotosService.convertImageDisplay(photosOne.Photos)" width="350" />
                            <button @onclick="@(args => deletePhoto(args, photosOne))" hidden="@(!isPhotoLoaded(photosOne))" id="deletePhoto1" type="button" class="btn btn-danger material-icons-outlined ">delete</button>

                        </EditForm>
                    </div>

                    <div class="two">
                        <EditForm Model="@photosTwo">
                            <BlazorInputFile.InputFile id="addPhoto2" class="d-none" OnChange="args => HandleFileSelected(args, photosTwo)" accept=".jpg,.png"></BlazorInputFile.InputFile>
                            <label hidden="@isPhotoLoaded(photosTwo)" for="addPhoto2">
                                <span class="d-flex align-items-center justify-content-center img-card material-icons-outline btn btn-secondary material-icons-outlined">add_photo_alternate</span>
                            </label>
                            <img class="img-card" hidden="@(!isPhotoLoaded(photosTwo))" src="@Product_PhotosService.convertImageDisplay(photosTwo.Photos)" width="350" />
                            <button @onclick="@(args => deletePhoto(args, photosTwo))" hidden="@(isPhotoLoaded(photosTwo) == false)" id="deletePhoto2" type="button" class="btn btn-danger material-icons-outlined ">delete</button>

                        </EditForm>
                    </div>

                    <div class="three">
                        <EditForm Model="@photosThree">
                            <BlazorInputFile.InputFile id="addPhoto3" class="d-none" OnChange="args => HandleFileSelected(args, photosThree)" accept=".jpg,.png"></BlazorInputFile.InputFile>
                            <label hidden="@isPhotoLoaded(photosThree)" for="addPhoto3">
                                <span class="d-flex align-items-center justify-content-center img-card material-icons-outline btn btn-secondary material-icons-outlined">add_photo_alternate</span>
                            </label>
                            <img class="img-card" hidden="@(!isPhotoLoaded(photosThree))" src="@Product_PhotosService.convertImageDisplay(photosThree.Photos)" width="350" />
                            <button @onclick="@(args => deletePhoto(args, photosThree))" hidden="@(isPhotoLoaded(photosThree) == false)" id="deletePhoto3" type="button" class="btn btn-danger material-icons-outlined ">delete</button>

                        </EditForm>
                    </div>

                    <div class="four">
                        <EditForm Model="@photosFour">
                            <BlazorInputFile.InputFile id="addPhoto4" class="d-none" OnChange="args => HandleFileSelected(args, photosFour)" accept=".jpg,.png"></BlazorInputFile.InputFile>
                            <label hidden="@isPhotoLoaded(photosFour)" for="addPhoto4">
                                <span class="d-flex align-items-center justify-content-center img-card btn btn-secondary material-icons-outlined">add_photo_alternate</span>
                            </label>
                            <img class="img-card" hidden="@(!isPhotoLoaded(photosFour))" src="@Product_PhotosService.convertImageDisplay(photosFour.Photos)" width="350" />
                            <button @onclick="@(args => deletePhoto(args, photosFour))" hidden="@(isPhotoLoaded(photosFour) == false)" id="deletePhoto4" type="button" class="btn btn-danger material-icons-outlined ">delete</button>

                        </EditForm>
                    </div>

                    <div class="five">
                        <EditForm Model="@photosFive">
                            <BlazorInputFile.InputFile id="addPhoto5" class="d-none" OnChange="args => HandleFileSelected(args, photosFive)" accept=".jpg,.png"></BlazorInputFile.InputFile>
                            <label hidden="@isPhotoLoaded(photosFive)" for="addPhoto5">
                                <span class="d-flex align-items-center justify-content-center img-card material-icons-outline btn btn-secondary material-icons-outlined">add_photo_alternate</span>
                            </label>
                            <img class="img-card" hidden="@(!isPhotoLoaded(photosFive))" src="@Product_PhotosService.convertImageDisplay(photosFive.Photos)" width="350" />
                            <button @onclick="@(args => deletePhoto(args, photosFive))" hidden="@(isPhotoLoaded(photosFive) == false)" id="deletePhoto5" type="button" class="btn btn-danger material-icons-outlined ">delete</button>

                        </EditForm>
                    </div>

                    <div class="six">
                        <EditForm Model="@photosSix">
                            <BlazorInputFile.InputFile id="addPhoto6" class="d-none" OnChange="args => HandleFileSelected(args, photosSix)" accept=".jpg,.png"></BlazorInputFile.InputFile>
                            <label hidden="@isPhotoLoaded(photosSix)" for="addPhoto6">
                                <span class="d-flex align-items-center justify-content-center  img-card material-icons-outline btn btn-secondary material-icons-outlined">add_photo_alternate</span>
                            </label>
                            <img class="img-card" hidden="@(!isPhotoLoaded(photosSix))" src="@Product_PhotosService.convertImageDisplay(photosSix.Photos)" />
                            <button @onclick="@(args => deletePhoto(args, photosSix))" hidden="@(isPhotoLoaded(photosSix) == false)" id="deletePhoto6" type="button" class="btn btn-danger material-icons-outlined ">delete</button>
                        </EditForm>
                    </div>

                </div>
            </div><br />

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Disponibilidad</label>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@back" value="Regresar" />
                        <input type="button" class="btn btn-primary" @onclick="@Clean" value="Limpiar" />
                        <input type="button" class="btn btn-primary" @onclick="@onCreateProduct" value="Guardar" />

                    </div>
                </div>
            </div>

        </section>


        <aside class="w-25 float_left gap-3">
            <div class="form-group">

                <h2 class="text-center fs-2  bg-blue">Categoria</h2>
                <SfTreeGrid ID="TreeGrid" @ref="TreeGrid" AllowSorting="true" AllowRowDragAndDrop="true" DataSource="@categories" IdMapping="Id" ParentIdMapping="ParentId" AllowSelection="true" TreeColumnIndex="0">
                    <TreeGridEvents TValue="Category" RowDropped="Rowdrop" RowSelected="SelectionHandler"></TreeGridEvents>
                    <TreeGridSortSettings>
                        <TreeGridSortColumns>
                            <TreeGridSortColumn Field="Title" Direction="Syncfusion.Blazor.Grids.SortDirection.Ascending"></TreeGridSortColumn>
                        </TreeGridSortColumns>
                    </TreeGridSortSettings>
                    <TreeGridColumns>
                        <TreeGridColumn Field="Title" HeaderText="Nombre" Width="100"></TreeGridColumn>
                        <TreeGridColumn Field="Description" HeaderText="Descripción" Width="160"></TreeGridColumn>
                    </TreeGridColumns>
                </SfTreeGrid>

            </div>
        </aside>

    </div>




    <div>
        <h4 id="error" hidden="@hideError">Informacion incompleta.</h4>
    </div>


</body>



@code {
    EmprendeUCR_WebApplication.Data.Entities.Product prod = new EmprendeUCR_WebApplication.Data.Entities.Product();
    EmprendeUCR_WebApplication.Data.Entities.Product_Service prodServ = new EmprendeUCR_WebApplication.Data.Entities.Product_Service();

    IList<Category> categories;
    private bool _isLoading = true;
    bool hideError = true;

    // The photos that will be assign to the Product
    Product_Photos photosOne = new Product_Photos();
    Product_Photos photosTwo = new Product_Photos();
    Product_Photos photosThree = new Product_Photos();
    Product_Photos photosFour = new Product_Photos();
    Product_Photos photosFive = new Product_Photos();
    Product_Photos photosSix = new Product_Photos();

    SfTreeGrid<Category> TreeGrid { get; set; }
    private Category selectedCategory;

    // Receives file to insert and product to insert it to.
    public async Task HandleFileSelected(IFileListEntry[] files, Product_Photos photos)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            photos.Photos = ms.ToArray();
        }
        else
        {

        }
    }

    // Gets called when page first loads.
    protected override async Task OnInitializedAsync()
    {
        prodServ.Entrepreneur_Email = await sessionStorage.GetItemAsync<string>("Email");
        categories = await CategoryService.GetAsync();
        _isLoading = false;
    }

    // Gets called when entrepreneur saves a new product
    protected Task createProduct()
    {
        if (String.IsNullOrEmpty(prod.Entrepreneur_Email))
        {
            // product details are incomplete, show error
            hideError = false;
            return Task.CompletedTask;
        }
        else
        {
            return productService.InsertProductAsync(prod);
        }
    }

    protected bool isPhotoLoaded(Product_Photos photo)
    {
        return photo.Photos != null;
    }

    protected void deletePhoto(MouseEventArgs args, Product_Photos photo)
    {
        photo.Photos = null;
    }

    // Creates parent Product_Service entity
    protected async Task<int> createProduct_Service()
    {
        if (String.IsNullOrEmpty(prodServ.Entrepreneur_Email))
        {
            // productService details are incomplete, show error
            hideError = false;
            await Task.CompletedTask;
            return 0;
        }
        else
        {
            int id = await Product_ServiceService.InsertProductServiceAsync(prodServ);
            return id;
        }
    }

    // Inits all values in a photo object
    protected void preparePhoto(Product_Photos photo, int idToInsert)
    {
        if (photo.Photos != null)
        {
            photo.Code_ID = idToInsert;
            photo.Entrepreneur_Email = prodServ.Entrepreneur_Email;
            photo.Category_ID = selectedCategory.Id;
            Product_PhotosService.savePhotoToDb(photo);
        }
    }

    protected async void onCreateProduct()
    {
        prodServ.Availability = prodServ.Availability;
        prodServ.Category_ID = selectedCategory.Id;

        prod.Category_ID = selectedCategory.Id;

        prod.Entrepreneur_Email = prodServ.Entrepreneur_Email;

        int idToInsert = await createProduct_Service();
        prod.Code_ID = idToInsert;
        await createProduct();

        /// Save photos on data base
        preparePhoto(photosOne, idToInsert);
        preparePhoto(photosTwo, idToInsert);
        preparePhoto(photosThree, idToInsert);
        preparePhoto(photosFour, idToInsert);
        preparePhoto(photosFive, idToInsert);
        preparePhoto(photosSix, idToInsert);
        /// End of save photos on database

        NavigationManager.NavigateTo("ListProducts");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("ListProducts");
    }

    void Clean()//deber ser el boton de clean
    {
        prod.Product_Name = null;
        prod.Price = 0;
        prod.Product_Description = null;
        photosOne.Photos = null;
        photosTwo.Photos = null;
        photosThree.Photos = null;
        photosFour.Photos = null;
        photosFive.Photos = null;
        photosSix.Photos = null;
    }

    void back()
    {
        NavigationManager.NavigateTo("ListProducts");
    }

    // metodos para prueba de categories

    //RowDrop
    private void Rowdrop(Syncfusion.Blazor.Grids.RowDragEventArgs<Category> args)
    {
        CategoryService.Rowdrop(args, this.TreeGrid);
    }

    //SelectionHandler
    public async Task SelectionHandler(Syncfusion.Blazor.Grids.RowSelectEventArgs<Category> args)
    {
        var selectedCategories = await this.TreeGrid.GetSelectedRecords();
        if (selectedCategories.Count() > 0)
        {
            selectedCategory = selectedCategories.First();
        }

    }

}