@page "/UpdateProduct/{Id}"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject ProductService  productService
@inject Product_ServiceService  productServiceService
@inject NavigationManager NavigationManager
<h2>Editar producto</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Nombre</label>
                <input form="Name" class="form-control" @bind="@prod.Product_Name" />
            </div>
            <div class="form-group">
                <label for="Product_Description" class="control-label">Descripción</label>
                <input form="Product_Description" class="form-control" @bind="@prod.Product_Description" />
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Precio (CRC)</label>
                <input form="Price" type="number" class="form-control" @bind="@prod.Price" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Modificar" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string Id { get; set; }

    EmprendeUCR_WebApplication.Data.Entities.Product prod = new EmprendeUCR_WebApplication.Data.Entities.Product();
    EmprendeUCR_WebApplication.Data.Entities.Product_Service prodServ = new EmprendeUCR_WebApplication.Data.Entities.Product_Service();


    protected override async Task OnInitializedAsync()
    {
        prodServ = await Task.Run(() => productServiceService.GetProductServiceAsync(Convert.ToInt32(Id)));
        prod = await Task.Run(() => productService.GetProductAsync(Convert.ToInt32(Id)));   //product va en minuscula
    }

    protected Task updateProduct()
        {
            return productService.UpdateProductAsync(prod);
        }

    protected Task updateProductService()
        {
            return productServiceService.UpdateProductServiceAsync(prodServ);
        }

    protected async void Update()
    {
        await updateProduct();
        await updateProductService();
        NavigationManager.NavigateTo("ListProducts");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("ListProducts");
    }
}