@page  "/ProfileClient"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage



@if (!_isLoading)
            {
            
<div class="m-5 p -5">

    <nav class=" mt-3 navbar navbar-light bg-light">
        <h3>Mi Perfil</h3>
        <div class="col-2"> <button type="button" class=" btn-lg btn-primary btn btn-link" @onclick="@logout"> Cerrar sesión </button> </div>
    </nav>

    <div class="flex-container">
        <div class="card user-card-full m-4 pt-4">
            <div class="row">
                <div class=" col-4 align-self-center">
                    <div class="container">
                        <div class="row">
                            <div class="col	align-self-start"></div>
                            <div class="col	align-self-center">
                                @if (myUser.Photo != null)
                                {
                                    <img width="200" height="180" src="data:image;base64,@System.Convert.ToBase64String(myUser.Photo)">
                                }
                                else
                                { <img width="200" height="180" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" />}
                            </div>
                            <div class="col	align-self-end"></div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="container">
                        <b>INFORMACION PERSONAL</b> <br><br>
                        <div class="row">
                            <div class="col">
                                <label><b>Nombre:</b> @myUser.Name </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <label><b>Apellidos:</b> @myUser.F_Last_Name @myUser.S_Last_Name</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <label><b>Correo:</b> @myUser.Email</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <label><b>Fecha nacimiento:</b> @myUser.Birth_Date</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <label><b>Provincia:</b> @myUser.Province_Name</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <label><b>Canton:</b> @myUser.Canton_Name</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <label><b>Distrito:</b> @myUser.District_Name</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 align-self-start">
                    <b>CALIFICACION</b> <br><br>
                    <p class="display-3 "> 10 / 10</p>
                </div>
            </div>
        </div>
    </div>


    <div class="flex-container">
        <div class="card user-card-full m-4 pxy-1">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <b>Mis gustos de categorias</b>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @*TODO: mostrar likes de cliente*@
                </div>
                <div class="col-3">
                    @*TODO: mostrar likes de cliente*@
                </div>
                <div class="col-3">
                    @*TODO: mostrar likes de cliente*@
                </div>
                <div class="col-3">
                    @*TODO: mostrar likes de cliente*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <nav class=" navbar fixed-bottom navbar-light bg-white">
        <div class="col-1"></div>
        <div class="col-8"> <button type="button" class="btn-lg btn-outline-primary btn btn-link" @onclick="goHome">Volver a comprar </button> </div>
        <div class="col-2"> <button type="button" class=" btn-lg btn-outline-primary btn btn-link" @onclick="@goEditProfile"> Editar perfil </button> </div>
        <div class="col-1"></div>
    </nav>
</div>
}else { <p>Loading...</p>}

@code
 {
    User myUser = new User();
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        string email = await sessionStorage.GetItemAsync<string>("Email");
        myUser = UserService.GetUserByEmail(email) ;
        _isLoading = false;
    }

    private void goEditProfile()
    {
        NavigationManager.NavigateTo("/EditProfileClient");
    }

    private void goHome()
    {
        NavigationManager.NavigateTo("/HomeClient");
    }

    private async void logout()
    {
        await sessionStorage.ClearAsync();
        NavigationManager.NavigateTo("/", forceLoad:true);
    }


}
