@page "/register"
@using System.Net.Mail
<h3>Register</h3>
@page "/Register"
@using EmprendeUCR_WebApplication.Data.Services
@using EmprendeUCR_WebApplication.Data.Entities
@inject UserService UserService

<h1>Send Email</h1>
<form>
    <EditForm Model="@newUsuario" OnValidSubmit="@insertUser">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <InputText type="email" class="form-control" aria-describedby="emailHelp" id="exampleInputEmail1" @bind-Value="newUsuario.Email" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

<button class="btn btn-primary" @onclick="SendMail"> Send Mail</button>
<br />
        <div class="mb-3">
            <label for="inputPassword5" class="form-label">Password</label>
            <InputText type="text" class="form-control" aria-describedby="passwordHelpBlock" id="inputPassword5" @bind-Value="newUsuario.Name" />
            <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onchange="@(() =>userType(3))">
            <label class="form-check-label" for="flexRadioDefault2">
                Cliente
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onchange="@(() =>userType(1))">
            <label class="form-check-label" for="flexRadioDefault2">
                Emprendedor
            </label>
        </div>

<span style="font-weight:bold; font-size=28px; color: aquamarine">@Message</span>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onchange="@(() =>userType(2))">
            <label class="form-check-label" for="flexRadioDefault2">
                Administrador
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</form>

@code{

    private string Message { get; set; } = "";
    private void SendMail()




@code {
    private User newUsuario = new User();
    private int user = 0;


    public void userType(int userInput)
    {
        try
        user = userInput;
    }



    private void insertUser()
    {
            using (MailMessage mail = new MailMessage())

        Console.WriteLine(user);
        User u = new User
        {
                mail.From = new MailAddress("tititorojas2012@gmail.com");
                mail.To.Add("tititorojas2012@gmail.com");
                mail.Subject = "Confirmation email acount";
                mail.Body = "<h1>Me cago en QL</h1>";
                mail.IsBodyHtml= true;
            Email = newUsuario.Email,
            //Name = "diego",
            //FLastName = null,
            //SLastName = null,

        };


                using (SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587)) {
        UserService.AddUser(u);

                    smtp.Credentials = new System.Net.NetworkCredential("tititorojas2012@gmail.com", "tititorojas.2005");
                    smtp.EnableSsl = true;
                    smtp.Send(mail);
                    Message = "Mail Send";
                }
        newUsuario = new User();
    }

}
        catch (Exception ex)
        {
            Message = ex.Message;
        }
    }
}

